@using System.Globalization;
@using Bank4HDemoLibrary;
@model AccountViewModel
@{
    ViewData["Title"] = "User Account";
}
<h1>Welcome, @Model.User.Name</h1>

<h2>Info for card #@Model.User.CreditCardNumber</h2>
<h3>Balance: $@Model.User.BankBalance.ToString("N2", CultureInfo.InvariantCulture)</h3>

<h3>Unpaid Bills:</h3>
@foreach (PaymentModel payment in Model.UnpaidPayments)
{
    <div class="text-danger">
      <h4>@payment.Name</h4>
      <p>$@payment.Amount.ToString("N2", CultureInfo.InvariantCulture), Due: @Convert.ToDateTime(payment.DateDue).Date.ToString("d"), <a asp-action="CompletePayment" asp-route-id="@payment.Id">Make Payment</a></p>
    </div>
}

<h3>Previous Payments:</h3>
@foreach (PaymentModel payment in Model.PaidPayments)
{
    <h5>@payment.Name</h5>
    <p>$@payment.Amount.ToString("N2", CultureInfo.InvariantCulture), Due: @Convert.ToDateTime(payment.DateDue).Date.ToString("d"), Paid: @Convert.ToDateTime(payment.DatePaid).Date.ToString("d")</p>
}
