@using System.Globalization;
@using Bank4HDemoLibrary;
@model AccountViewModel
@{
    ViewData["Title"] = "User Account";
}
<div  class="display-4">
    <h2>Welcome, @Model.User.Name</h2>

    <h4>Info for card <p class="text-info">#@Model.User.CreditCardNumber</p></h4>
    <h4>Balance: <p class="darker-text-info">$@Model.User.BankBalance.ToString("N2", CultureInfo.InvariantCulture)</p></h4>
</div>

<table class="table table-danger table-hover">
    <thead>
        <tr><p class="display-3">Unpaid Bills:</p></tr>
    </thead>
    
    <tbody>
        @foreach (PaymentModel payment in Model.UnpaidPayments)
        {
            <tr class="">
                <td><strong>@payment.Name</strong></td>
                <td><strong>$@payment.Amount.ToString("N2", CultureInfo.InvariantCulture), Due: @Convert.ToDateTime(payment.DateDue).Date.ToString("d"), <a asp-action="CompletePayment" asp-route-id="@payment.Id">Make Payment</a></strong></td>
            </tr>
        }
    </tbody>
</table>

<table class="table table-info table-hover">
    <thead class="display-2">
        <tr><p class="display-4">Previous Bills:</p></tr>
    </thead>

    <tbody>
        @foreach (PaymentModel payment in Model.PaidPayments)
        {
        <tr>
            <td><strong>@payment.Name</strong></td>
            <td><strong>$@payment.Amount.ToString("N2", CultureInfo.InvariantCulture), Due: @Convert.ToDateTime(payment.DateDue).Date.ToString("d"), Paid: @Convert.ToDateTime(payment.DatePaid).Date.ToString("d")</strong></td>
        </tr>
        }
    </tbody>
</table>

